/* Estilos CSS */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-s12erif;
    background-image: url('../images/hito701.jpg'); /* Ruta a la imagen de fondo */
    background-size: 100%; /* Cubre toda la pantalla */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* Fija el fondo para que no se desplace con el scroll */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Asegura que el contenido ocupe al menos toda la altura */
    text-align: center;
    color: #fff; /* Texto blanco para mejor legibilidad sobre el fondo */
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.6); /* Fondo semitransparente para legibilidad */
    padding: 10px 20px;
    border-radius: 5px;
}

p {
    font-size: 1.2em;
    max-width: 600px;
    margin: 20px 0;
    background-color: rgba(0, 0, 0, 0.6); /* Fondo semitransparente para legibilidad */
    padding: 10px;
    border-radius: 5px;
}

.button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1em;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}

footer {
    background-color: rgba(0, 0, 0, 0.075); /* Fondo semitransparente para el footer */
    color: white;
    width: 100%;
    padding: 20px 0;
    position: relative;
    margin-top: auto;
    text-align: left;
}

footer p {
    margin: 5px 0;
    font-size: 1em;
}

footer a {
    color: #1E90FF;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}